body {
    font-family: 'Galada', cursive;
    background-color: #274172;
    color: #f7f7f7;
}
#container {
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}
.header {
    background-color: #353535;
    margin: 0;
    padding: 10px 20px;
}
h1, h2 {
    margin: 0;
    text-align: center;
}
h2 {
    font-family: 'Barlow Condensed', sans-serif;
}
.taskHeader input{
    float: left;
}
#taskDescription {
    font-size: 18px;
    background-color: #e9e9e9;
    width: 300px;
    height: 60px;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: none;
}
#taskDescription:focus {
    outline: none;
}
#add {
    font-size: 18px;
    background-color: rgb(67, 102, 218);
    box-sizing: border-box;
    border: none;
    width: 60px;
    height: 60px;
}
#add:focus {
    outline: none;
}
#add:hover {
    background-color: rgb(57, 86, 184);
}
.taskBody {
    position: absolute;
    top: 261px;
    width: 360px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    background-color: #8b8b8b;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 20px;
    opacity: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}
li:nth-child(2n) {
    background-color: #797979;
}
li:hover {
    background-color: #8b8b8b49;
}
.complete {
    color: rgb(48, 46, 73);
    text-decoration: line-through;
}
.delete {
    height: 60px;
    width: 60px;
    float: right;
    text-align: center;
}
.delete:hover {
    color: rgba(255, 0, 0, 0.425);
}